<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>

    <ul class="list">

    </ul>

    <div class="add-members-container">
      <input
       #addMemberInput
       type="text"
       placeholder="Name"
       (input)="onInput(addMemberInput.value)"
      >
      <button (click)="addMember()">
        Add
      </button>
    </div>

    <div class="input-container">
      <input type="number" name="teams" id="" placeholder="# of teams">
      <button># of teams</button>
    </div>
  </div>

</div>
